<ion-view view-title="Baseline mood data" cache-view="false">
	<ion-content class="padding" scroll="false">
		<div class="fill-width-or-more">
			<div class="fill-width-or-more list card" style="flex:300; text-align:center; background-color: lightblue">
        <h4 class="title">How is your mood on <br> an ordinary day?</h4>
				<div class="fill-width-or-more item item-body" style="flex:1; overflow-x:hidden; ">
					<output style="font-size:24pt; height: 24pt;">{{values.Basemood}}</output>
					<div style="padding-left:50%; flex:1;">
						<div class="item range range-positive range-horizontal" style="border: none;">
                            <i class="icon ion-sad-outline" style="font-size:28pt;"></i> 
							<input type="range" min="0" max="10" step="1" ng-model="values.Basemood"/> <i class="icon ion-happy-outline" style="font-size:28pt;"></i>
						</div>
					</div>
				</div>
			</div>
            
            <div class="button-bar">
				<a href="#/baseline/activity" class="button icon-left ion-chevron-left button-clear button-positive">Back</a>
				<a href="#/baseline/userDefined" class="button icon-right ion-chevron-right button-balanced" ng-click="saveBase()" id="moodNextButton">Next</a>
			</div>
		</div>
	</ion-content>
</ion-view>
