<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab href="#/baseline/pain">
    <ion-nav-view name="baseline-pain"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/baseline/activity">
    <ion-nav-view name="baseline-activity"></ion-nav-view>
  </ion-tab>
    <ion-tab href="#/baseline/mood">
    <ion-nav-view name="baseline-mood"></ion-nav-view>
  </ion-tab>
  <ion-tab href="#/baseline/userDefined">
    <ion-nav-view name="baseline-userDefined"></ion-nav-view>
  </ion-tab>
  


</ion-tabs>
