<ion-view view-title="Chart">
  <ion-content>

     
      <a href="javascript:history.back()" class="button icon-left ion-chevron-left button-clear button-positive">Back</a>
    <div id="container" style="width:100%; height:500px;"></div>
      <footer> 
    <div class="button-bar" style="float:bottom;">
      <a class="button button-positive" ng-click="ShowPain()">Pain</a>
      <a class="button button-positive" ng-click="ShowActivity()">Activity</a>
      <a class="button button-positive" ng-click="ShowMood()">Mood</a>
        <a class="button button-positive" ng-click="ShowUserDefined()">Task</a>
    </div>
          </footer>




  </ion-content>
</ion-view>
