<ion-view view-title="External Information">
  <ion-content>

    <div class="card">
      <div class="item item-divider lilac-background" style="color:#FFFFFF">
        IMB - Centre for Pain Research
      </div>
      <div class="item item-text-wrap item-button-right">
      We aim to develop new treatments for the one in five Australians living with chronic pain


      <a href="http://pain.imb.uq.edu.au/" target="_blank" class="button nyatest-button"
      onclick="window.open(this.href, '_blank', 'location=yes');return false;">
        <i class="icon ion-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider lilac-background" style="color:#FFFFFF">
        Chronic Pain Australia
      </div>
      <div class="item item-text-wrap item-button-right">
       If you live with pain we can help you understand and control your symptoms

      <a href="http://www.chronicpainaustralia.org.au/" target="_blank" class="button nyatest-button"
      onclick="window.open(this.href, '_blank', 'location=yes');return false;">
        <i class="icon ion-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider lilac-background" style="color:#FFFFFF">
        Pain Australia
      </div>
      <div class="item item-text-wrap item-button-right">
       We help pain patients  and their families live better lives

      <a href="http://www.painaustralia.org.au/" target="_blank" class="button nyatest-button"
      onclick="window.open(this.href, '_blank', 'location=yes');return false;">
        <i class="icon ion-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider lilac-background" style="color:#FFFFFF">
        Australian Pain Management Association
      </div>
      <div class="item item-text-wrap item-button-right">
       The consumer health organisation for all Australians who live with pain

      <a href="http://www.painmanagement.org.au/" target="_blank" class="button nyatest-button"
      onclick="window.open(this.href, '_blank', 'location=yes');return false;">
        <i class="icon ion-forward" align="right"></i>
      </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider lilac-background" style="color:#FFFFFF">
        Chronic Pain Meetups in Brisbane
      </div>
      <div class="item item-text-wrap item-button-right">
       Get up and get going again with encouragement and support from others living with pain.

      <a href="http://chronicpain.meetup.com/cities/au/brisbane/" target="_blank" class="button nyatest-button"
      onclick="window.open(this.href, '_blank', 'location=yes');return false;">
        <i class="icon ion-forward" align="right"></i>
      </a>
      </div>
    </div>
      <div class="button-bar">
          <a href="#/initial" class="button icon-left ion-chevron-left button-positive" style="width:25em;" >Back</a>
    </a>
</div>
        
      
  </ion-content>
</ion-view>