
<ion-view view-title="Home">
    <ion-content padding="true" class="manual-remove-top-padding jacaranda" has-header="false">
        
<div class="spacer" style="width:300px; height: 40px"> </div>

        <center><img ng-src="img/IMB logo.png"; style="width: 22.5em;height:7em;"></center>

<div class="spacer" style="width:300px; height: 40px"> </div>

        <center><img ng-src="img/Logo banner.png"; style="width: 22.5em;height:10em;"></center>

<div class="spacer" style="width:100%; height: 1em"> </div>

        <center><a href="#/questions/pain" id="record button" class="first-button button-large button-positive button-block button-outline">
        <i style= "margin-right:15px" class="icon ion-compose large-words"></i>
        <b class="large-words">Record data</b></a></center>

        <div class="spacer" style="width:100%; height: 1em"> </div>

<ion-list>
	<center><div class="button-bar col-xs-9 col-s-9 col-offset-2" style="padding:20px">
        <a style="text-align:left;" class="button test-button" href="#/first-time" ng-click='BaseNote()' >
            <i style="margin-right:15px" class="icon ion-ios-paper-outline medium-words"></i><b>Base</b>
        </a>
     
        <a style="text-align:left;" class="button test-button" href="#/history/charts">
            <i style="margin-right:15px" class="icon ion-stats-bars medium-words"></i><b>Charts</b>
        </a>
        
    </div></center>
  <center><div class="button-bar col-xs-9 col-s-9 col-offset-2" style="padding:20px">
        <a style="text-align:left;" class="button test-button" href="#/settings">
            <b><i style="margin-right:15px" class="icon ion-ios-gear-outline medium-words"></i>Settings</b>
        </a>
         
        <a style="text-align:left;" class="button test-button" href="#/information">
            <b><i style="margin-right:15px" class="icon ion-ios-calendar-outline medium-words"></i>Links</b>
        </a>
           </div></center>
    </ion-list>
    </ion-content>
</ion-view>
