<ion-view view-title="Pain data" cache-view="false">
	<ion-content class="padding" scroll="false">
		<div class="fill-width-or-more">
			<div class="fill-width-or-more list card" style="flex:300; text-align:center; background-color: lightblue">
				<h4 class="title">How was your pain <br> In the last 24 hours?</h4>
				<div class="fill-width-or-more item item-body" style="flex:1; overflow-x:hidden;">
					<output style="font-size:20pt; height: 20pt;">Baseline: {{values.Basepain}}</output>
					<div class="range-container" style="padding-left:30%; padding-right:5%;flex:inherit">
						<div class="item range range-positive range-flexible range-horizontal" style="font-size:24pt;">
                             <i class="glyphicon glyphicon-heart"></i>
							<input type="range" min="0" max="10" step="1" ng-init="values.Basepain" ng-model="values.pain"/><i class="icon ion-medkit" style="font-size:24pt;"></i>
						</div>
					</div>
                    <output style="font-size:20pt;">Today: {{values.pain}}</output>
					<div>
						<a class="button button-positive button-small" style="float:right; font-size: small;" ng-click="addDetails('painDetails')">Add notes</a>
					</div>
				</div>
			</div>
			<div class="button-bar">
				<a href="#/initial" class="button icon-left ion-chevron-left button-clear button-positive">Back</a>
				<a href="#/questions/activity" class="button icon-right ion-chevron-right button-balanced" ng-click="tryForceTellMeMore($event, values.pain, 'painDetails')" "save()" id="painNextButton">Next</a>
			</div>
		</div>
	</ion-content>
</ion-view>
